.card-description-wrapper {
  overflow-y: auto;
  min-height: 200px;
  max-height: 200px;
}

.card-img {
  min-height: 311px;
  max-height: 311px;
}

.card-wrapper {
  max-height: 600px;
}

hr {
  margin: 0 0 16px 0;
}

.trash-wrapper:hover {
  text-decoration: none !important;
  cursor: pointer;
}
