<div id='nf-add-movie'>
  <nf-nav back='true'></nf-nav>
  <div class='container'>
    <div class='form-inline search-wrapper text-center'>
      <button
        class='btn btn-default hidden-xs'
        [routerLink]='["","main"]'>
        <span
          class='glyphicon glyphicon-arrow-left'
          aria-hidden='true'>
        </span>
      </button>
      <div class='form-group'>
        <div class="input-group">
          <span
            class='input-group-addon'
            id='searchText-addon'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
          <input
            [(ngModel)]='searchText'
            (ngModelChange)='handleSearchMovie(searchText)'
            name='searchText'
            type='text'
            class='form-control'
            id='title'
            placeholder='Search movie title'
            aria-describedby='searchText-addon'>
        </div>
      </div>
    </div>
    <div *ngFor='let suggestion of suggestions' class='container'>
      <div class='card-wrapper row'>
        <div class='left-card col-xs-6 col-sm-3 col-md-2'>
          <img
            class='movie-pic'
            src='http://image.tmdb.org/t/p/w500/{{suggestion.poster_path}}'
            alt='movie-pic'>
        </div>
        <div class='right-card col-xs-6 col-sm-9 col-md-10'>
          <p><strong>{{suggestion.title}}</strong> - <span>({{suggestion.release_date | date:"yyyy"}})</span></p>
          <p>{{suggestion.overview}}</p>
          <p>Rating: {{suggestion.vote_average}}</p>
          <div class='text-center'>
            <button
              (click)='handleSuggestionSubmit(suggestion)'
              class='btn btn-primary outline sharp'>
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
