<div id='nf-main'>
  <nf-nav></nf-nav>
  <div class='container'>
    <div class='text-center'>
      <a [routerLink]='["","add"]' class='btn btn-primary outline sharp'>Add Movie</a>
    </div>
    <hr />
    <div class='form-inline filter-wrapper text-center'>
      <div class='form-group'>
        <div class="input-group">
          <span
            class='input-group-addon'
            id='searchText-addon'><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></span>
          <input
            [(ngModel)]='filterValue'
            name='searchText'
            type='text'
            class='form-control'
            id='title'
            placeholder='Filter Movies'
            aria-describedby='searchText-addon'>
        </div>
      </div>
    </div>
    <div class='row container movies-wrapper'>
      <div *ngFor='let movie of movies | moviesFilter:filterValue' class='col-xs-12 col-sm-4 col-md-3 col-lg-3'>
        <nf-showcard
          (onRemoved)='removeFromList($event)'
          [movie]='movie'>
        </nf-showcard>
      </div>
    </div>
  </div>
</div>
